* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
  }
  
  img {
    max-width: 60%;
    height: auto;
    box-shadow: 0 0 14px rgba(0, 0, 0, 0.8);
  }
  
  .profilkep {
    border-radius: 50%;
    display: block;
    margin-left: auto;
    margin-right: auto;
  }
  
  h1,
  h2 {
    text-align: center;
    margin: 2vh auto;
  }
  
  d-inline {
    display: inline;
  }
  
  li {
    list-style-type: none;
  }
  
  a {
    color: inherit;
  }
  
  div.solo-link-button {
    background-color: rgba(32, 31, 31, 0.8);
    color: white;
    padding: 1%;
    border-radius: 5px;
    box-shadow: 5px 5px 5px black;
    margin-top: 2vh;
    margin-bottom: 2vh;
  }
  
  div.solo-link-button:hover {
    background-color: rgba(245, 245, 245, 0.7);
    color: black;
    outline: 1px solid black;
    box-shadow: none;
    transition-duration: 0.2s;
  }
  
  section {
    min-width: 100vw;
    min-height: 100vh;
  }
  
  .container {
    font-size: 1.6rem;
    padding: 1rem 3rem;
    margin: 0 auto;
  }
  
  /* görgetés */
  
  body,
  footer {
    overflow: hidden;
    height: 100vh;
  }
  
  main {
    overflow-y: scroll;
    overflow-x: hidden;
    scroll-behavior: smooth;
    width: 100%;
    background-color: black;
  }
  
  .wrapper {
    display: flex;
    flex-direction: column;
    height: 100%;
    width: 100%;
  }
  
  /* Fejléc */
  
  header {
    background-color: rgba(32, 31, 31, 0.5);
    color: white;
    width: 100%;
    height: auto;
    border: 1px solid white;
  }
  
  header:hover {
    background-color: rgba(32, 31, 31, 0.8);
    transition-duration: 0.2s;
  }
  
  .header-logo {
    width: max-content;
    padding: 1%;
    margin: auto;
    font-family: "Lora", serif;
    background-color: #D6ED17FF;
    border: 1px solid white;
    border-radius: 0 5px;
    color: rgba(32, 31, 31, 0.8);
  }
  
  .menu-list {
    width: max-content;
    height: 100%;
    margin: 5% auto 0;
    padding: 1%;
  }
  
  /* Mesterségem címere */
  
  .section-occupation {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: auto;
    background: rgb(135,206,250);
    background: linear-gradient(180deg, rgba(135,206,250,1) 0%, rgba(177,98,78,1) 92%);
  }

  /* skills */
  
  .section-skills {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: auto;
    justify-content: center;
    align-items: center;
    background: rgb(177,98,78);
    background: linear-gradient(180deg, rgba(177,98,78,1) 0%, rgba(0,0,0,1) 100%); 
    margin: 0;
    padding: 0;
  }
  
  .skills-logo-container {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 50vh;
    width: 100vw;
    flex-wrap: wrap;
    flex-shrink: 2;
  }
  
  .skills-logo-element {
    width: 180px;
    height: 180px;
    margin: 5vh auto;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    flex-grow: 1;
    flex-shrink: 0;
  }
  
  div.logo-html {
    background-image: url("../images/HTML5_logo.png");
  }
  
  div.logo-css {
    background-image: url("../images/CSS_logo.png");
  }
  
  div.logo-python {
    background-image: url("../images/Python_logo.png");
  }
  
  /* portfolio */
  
  .section-portfolio {
    width: 100vw;
    height: 100vh;
    position: relative;
  }

  .portfolio-background {
    position: absolute;
    width: 100vw;
    height: 100vh;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-image: url("../images/webdev.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    filter: blur(5px);
    -webkit-filter: blur(5px);
    z-index: 0;
  }

  .portfolio-container {
    position: absolute;
    margin-left: auto;
    margin-right: auto;
    max-width: 95vw;
    max-height: 100vh;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 1;
  }
  
  .section-portfolio h2 {
    background-color: rgba(245, 245, 245, 0.7);
    padding: 2%;
  }
  
  .portfolio-list {
    list-style-type: none;
  }
  
  .portfolio-list-item {
    background-color: rgba(245, 245, 245, 0.7);
    border: 1px solid black;
    width: 100%;
  }

  /* Rólam */

  .section-about {
    background: rgb(0,0,0);
    background: linear-gradient(180deg, rgba(0,0,0,1) 0%, rgba(0,99,178,1) 56%);
  }

  .section-about h2 {
    color: whitesmoke;
  }
  
  
  /* kapcsolat űrlap */
  
  .section-contact {
    background-color: #0063B2FF;
    color: white;
  }
  
  form * {
    margin-left: auto;
    margin-right: auto;
  }
  
  form fieldset,
  input,
  textarea {
    border: 1px solid whitesmoke;
    border-radius: 0 10px;
    margin-bottom: 1.5vw;
    line-height: 1.6rem;
    padding: 1%;
  }
  
  form div {
    padding: 5%;
    text-align: center;
  }
  
  form div:first-of-type input,
  textarea {
    width: 100%;
    margin: 2vh auto 4vh;
    font-size: 2rem;
    line-height: 2rem;
    background-color: rgba(256, 256, 256, 0.6);
  }

  form div:first-of-type input:hover,
  textarea:hover {
    border-radius: 10px;
  }
  
  .urlap-gomb {
    display: block;
    margin: 1vh auto 4vh;
    padding: 1vw;
    background-color: rgba(240, 230, 223, 1);
    box-shadow: 5px 5px 5px black;
    border: 0;
    font-size: 1.5rem;
    min-height: 50px;
    border-radius: 0 10px;
  }
  
  .urlap-gomb:hover {
    cursor: pointer;
    background-color: #0063B2FF;
    box-shadow: none;
    outline: 1px solid white;
    color: white;
    transition-duration: 0.2s;
  }
  
  form div.valasz_emailben,
  .valasz_telefonon {
    line-height: normal;
    padding-top: 0;
  }

  .valasz-container {
    box-sizing: content-box;
  }

  .valasz {
    vertical-align: middle;
    margin-bottom: 0;
  }
  
  /* Lábléc */
  
  footer {
    height: 20%;
    background-color: #4d4c4c;
    color: whitesmoke;
  }
  
  footer p {
    width: fit-content;
    margin: 0 auto;
  }
  
  @media screen and (min-width: 576px) {
  }
  
  @media (min-width: 768px) {
    header {
      display: grid;
      grid-template-columns: repeat(2, 1fr);
      width: 100%;
      height: auto;
    }
  
    /* Menü */
  
    .header-logo {
      min-width: 190px;
      margin: auto 0;
    }
  
    .menu-list {
      display: flex;
      width: 100%;
      justify-content: flex-end;
      margin-top: 0;
    }
  
    .menu-item {
      margin: 0 5%;
      min-width: fit-content;
    }
  
    .menu-item:hover {
      background-color: whitesmoke;
      outline: 1.5rem solid whitesmoke;
      color: black;
      transition-duration: 0.2s;
    }
  
    /* Portfolio */
  
    .portfolio-list {
      display: grid;
      grid-template-columns: 1fr 1fr;
      gap: 30%;
    }
  
    /* Rólam */
  
    img {
      max-width: 40%;
      height: auto;
      margin-bottom: 4vh;
    }

    .section-about p {
        margin-bottom: 4vh;
    }

    /* Kapcsolat */

    form {
      font-size: 2rem;
    }
  }
  
  @media screen and (min-width: 992px) {
    .container {
      width: 100vw;
    }
  
    .portfolio-list {
      grid-template-columns: 1fr 1fr 1fr;
    }
  
    /* Rólam */
  
    img {
      max-width: 30%;
      height: auto;
    }
  }

  @media screen and (min-width: 1200px) {
  }